.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  display: inline-block;
  margin-right: 30px;
}

.nav-links ul li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  font-size: 2.0rem;
}

.logo {
  font-weight: bold;
}

.add-new-chore {
  margin-left: auto;
}