.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

.logo {
  font-size: 2.0rem;
  margin-right: 20px;
}

.nav-links .nav-list {
  list-style-type: none;
}

.nav-links .button {
  display: inline-block;
  margin-left: 10px;
}

.nav-links .button a {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  font-size: 1.2rem;
  border: 1px solid #333;
  background-color: #f1f1f1;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-links .button a:hover {
  background-color: #333;
  color: #f1f1f1;
}